.create_elements_overlay {
    position: absolute;
    height: 100vh;
    width: calc(100vw - 240px);
    z-index: 5;
    left: 240px;
    top: 0;
    background-color: #fff;
}
.create_elements_overlay .overlay_titlebar {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    border-bottom: 1px solid #333333;
    margin-bottom: 160px;
    background: #ececec;
}
.create_elements_overlay .overlay_titlebar .left_col {
    display: flex;
    align-items: center;
}
.create_elements_overlay .overlay_close {
    width: 31px;
    height: 31px;
    cursor: pointer;
    background: #d4d4d4 url('./assets/icons/close.svg') no-repeat center/24px;
    border-radius: 50%;
    background-position: 4px 4px;
    margin-right: 16px;
    transition: background-color .3s ease-out;
}

.create_elements_overlay .overlay_title {
    font-size: 20px;
}
.create_elements_overlay .overlay_body {
    margin: 0 auto;
    max-width: 64rem;
    width: 100%;
}
.create_elements_overlay .create_switch_container {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

.create_elements_overlay .create_switch_container .option {
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
}
.create_elements_overlay .create_switch_container .option_label_inner {
    display: inline-block;
    background: #eeeeee;
    border-radius: 5px;
    height: 100%;
    padding: 40px;
}

.create_elements_overlay .create_switch_container .option_input:checked+.option_label_inner {
    background: #9bb1b4;
}
.create_elements_overlay .create_switch_container .option .option_inner {
    border: 2px solid #333;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: border-color .3s ease-out;
}
.create_elements_overlay .create_switch_container .option .option_input {
    position: absolute;
    opacity: 0;
}

.create_elements_overlay .create_switch_container .option .option_label {
    text-align: center;
    color: grey;
    font-weight: 700;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}
.create_elements_overlay .create_switch_container .option .option_icon {
    max-width: 100px;
}
.create_elements_overlay .create_switch_container .option .option_title {
    color: #333;
    display: inline-block;
    width: 100%;
    font-size: 22px;
}
/* General Form Styles */
.form .form_elem_container {
    margin-bottom: 24px;
}

.form .form_elem_container .label{
    display: block;
}

.form .form_elem_container .form_elem {
    width: 100%;
    height: 30px;
    padding: 4px 8px;
}
/* /General Form Styles */